In [4]:
# 使用python将字符串‘1.2.3.4.5’转换为‘5|4|3|2|1’
num = '1.2.3.4.5'
num = num[::-1]
num.replace('.', '|')

'5|4|3|2|1'

In [12]:
# 使用正则表达式匹配时间信息
import re
result = re.match(r'^\d{4}-\d{2}-\d{2}.?\d{2}:\d{2}:\d{2}$', '2012-03-25 13:23:34')
result.group()

'2012-03-25 13:23:34'

In [ ]:
# 编写装饰函数，打印装饰函数的输入输出
def show(fun):
    @functools.wraps(func)  # main函数被装饰后__name__会被改变，使用该语句避免此种情况b
    def sec(*args, **kwargs):
        pass
        return fun(*args, **kwargs)
    return sec


@show
def main():
    print("被装饰的函数main")

In [13]:
# 按升序合并两个list，并去除重复元素
list1 = [2, 3, 8, 4, 9, 5, 6]
list2 = [5, 6, 10, 17, 11, 2]
result = set(list1 + list2)
list(result)

[2, 3, 4, 5, 6, 8, 9, 10, 11, 17]

In [20]:
# mysql表名com_result,表内容如下
import pandas as pd
import numpy as np
df = pd.DataFrame(data=np.array([['2017-04-09', '胜'],
                          ['2017-04-09', '胜'],
                          ['2017-04-09', '胜'],
                          ['2017-04-09', '胜'],
                          ['2017-04-10', '负']]), columns=['rq', 'shengfu'])
df

           rq shengfu
0  2017-04-09       胜
1  2017-04-09       胜
2  2017-04-09       胜
3  2017-04-09       胜
4  2017-04-10       负

In [32]:
# 使用sql语句生成如下查询结果
result = pd.DataFrame(data=np.array([['2017-04-09', '4', '0'],
                          ['2017-04-10', '0', '1'],]), columns=['rq', '胜', '负'])
result

           rq  胜  负
0  2017-04-09  4  0
1  2017-04-10  0  1

In [ ]:
# 实现的sql语句如下
SELECT
	rq,
	SUM(shengfu = '胜') AS '胜',
	SUM(shengfu = '负') AS '负'
FROM
	com_result
GROUP BY
	rq;

In [33]:
# 字典排序, sorted函数的使用
dic = [{'name': 'a', 'age':20}, {'name': 'v', 'age':10}, {'name': 'd', 'age':2},]
sorted(dic, key=lambda x:x['age'])

[{'name': 'd', 'age': 2}, {'name': 'v', 'age': 10}, {'name': 'a', 'age': 20}]

In [37]:
# 将字符串text转换成字典
text = "k:1|k1:2|k2:3"
list_t = text.split('|')
dic = {x.split(':')[0] : x.split(':')[1] for x in list_t}
dic

{'k': '1', 'k1': '2', 'k2': '3'}

In [41]:
# 解析一段html文本
from lxml import etree

html = '<a href="######你好########">nihao</a>'
et = etree.HTML(html)
et.xpath('//a/@href')[0]

'######你好########'

# 基础语法

In [36]:
# 断言示例
s = 2
assert s > 3,'报错信息：s不满足条件'

# 等同于
if not s > 3:
    raise AssertionError()  # 引发异常
    # 自定义异常 raise Exception('error_info')

AssertionError: 报错信息：s不满足条件

# 文件操作

In [ ]:
# 输入文件夹路径，返回子元素的路径
import os

def print_dir(spath):
    for child in os.listdir(spath):
        child_path = os.path.join(spath, child)
        if os.path.isdir(child_path):
            print_dir(child_path)
        else:
            print(child)

# 时间，日期

In [7]:
# 根据参数生成日期列表
import datetime
def create_date(start_date, end_date):
    date_list = []
    # 将时间字符串转换为datetime对象
    date_s = datetime.datetime.strptime(start_date, '%m-%d')
    date_e = datetime.datetime.strptime(end_date, '%m-%d')
    
    # 生成日期列表
    while date_s<=date_e:
        # 将date_s转换成时间字符串
        date_str = date_s.strftime('%m-%d')
        date_list.append(date_str)
        # 获取一天后的日期
        date_s += datetime.timedelta(days=1)
    print(date_list)
    
create_date('08-03', '09-03')

['08-03', '08-04', '08-05', '08-06', '08-07', '08-08', '08-09', '08-10', '08-11', '08-12', '08-13', '08-14', '08-15', '08-16', '08-17', '08-18', '08-19', '08-20', '08-21', '08-22', '08-23', '08-24', '08-25', '08-26', '08-27', '08-28', '08-29', '08-30', '08-31', '09-01', '09-02', '09-03']

# 数据结构

In [40]:
# 合并列表
s = [1,5,7,9]
l = [2,2,6,8]
s + l  # 方法一
s.extend(l)  # 方法二
s

[1, 5, 7, 9, 2, 2, 6, 8]

In [46]:
# 删除字典键值、合并字典、删除整个字典
dic = {1:'a',2:'q',3:'e'}
del dic[1]  # 删除键值对
dic2 = {'s':1}
dic.update(dic2)  # 合并字典，两个字典合并后内容一致
dic2.update(dic)
del dic  # 删除字典
print(dic2)

{'s': 1, 2: 'q', 3: 'e'}

In [12]:
# 有序列1，10，100，1000...,输出第N个数
def find(n):
    a = [1,10,1000,10000,1000000]
    a1 = list(map(lambda x: str(x), a))
#     print(''.join(a1))
    a2 = ''.join(a1)
    a3 = a2[n-1:n]
    print(a3)
#     print(list(a2)[n-1])

find(1)

1

In [11]:
# copy 和 deepcopy 的区别
import copy

list1 = [1,2,[4,6]]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list2[2][0] = 3
print(list1, list2, list3)

[1, 2, [3, 6]] [1, 2, [3, 6]] [1, 2, [4, 6]]

In [13]:
# N阶乘
def count_n(n):
    if n == 1:
        return n
    return n*count_n(n-1)

count_n(10)

3628800

In [1]:
# 统计字符串中每个字符出现的次数Counter
from collections import Counter

s = 'ffsdfdshfhsdfhkjsueuyv'
Counter(s)

Counter({'f': 5,
         's': 4,
         'd': 3,
         'h': 3,
         'k': 1,
         'j': 1,
         'u': 2,
         'e': 1,
         'y': 1,
         'v': 1})

In [20]:
# 列表[1,2,3,4,5],请使用map()函数输出[1,4,9,16,25]，并使用列表推导式提取出大于10的数，最终输出[16,25]
s = [1,2,3,4,5]
l = list(map(lambda x:x**2, s))
print(l)
print([x for x in l if x>10])

[16, 25]

In [24]:
# python中生成随机整数、随机小数、0--1之间小数方法
import random
import numpy as np

# 生成整数
i = random.randint(2, 9)
# 生成三个小数
f = np.random.randn(3)
# 生成一个指定范围的小数
u = random.uniform(3, 5)
# 生成0--1之间的小数
s = random.random()

print(i, f, u, s)

9 [ 0.39535373 -0.65542465 -0.78636326] 4.859227157509136 0.9876398016322775

In [6]:
# list选择排序
def sortl(s):
    for i in range(len(s)-1):
        maxindex = i
        for j in range(i+1, len(s)):
            if s[maxindex] < s[j]:
                maxindex = j
                
        current = s[i]
        s[i] = s[maxindex]
        s[maxindex] = current
        print('sort result', s)
    
    return s

sortl([1, 4, 3, 7, 5, 3])

sort result [7, 4, 3, 1, 5, 3]
sort result [7, 5, 3, 1, 4, 3]
sort result [7, 5, 4, 1, 3, 3]
sort result [7, 5, 4, 3, 1, 3]
sort result [7, 5, 4, 3, 3, 1]

[7, 5, 4, 3, 3, 1]

In [61]:
# 参数为可变类型
import gc


def fun(k, v, dic={}):
    dic[k] = v
    print(dic)
    del dic
    
fun(1, 'a')
fun(2, 'b')
fun(3, 'c', {})

{1: 'a'} (553, 10, 6)
{1: 'a', 2: 'b'} (580, 10, 6)
{3: 'c'} (591, 10, 6)

In [3]:
# 对list排序foo = [-5,8,0,4,9,-4,-20,-2,8,2,-4]
# 输出结果为 [0,2,4,8,8,9,-2,-4,-4,-5,-20]，正数从小到大，负数从大到小
foo = [-5,8,0,4,9,-4,-20,-2,8,2,-4]
sorted(foo, key=lambda x:(x<0,abs(x)))

[0, 2, 4, 8, 8, 9, -2, -4, -4, -5, -20]

In [4]:
# 列表嵌套列表排序，年龄数字相同
s = [['a',12], ['b', 34], ['c', 23], ['d', 23]]
sorted(s, key=lambda x:(x[1], x[0]))

[['a', 12], ['c', 23], ['d', 23], ['b', 34]]

In [6]:
# 列表生成式、字典生成式、生成器
import random

s = [i for i in range(10)]
list_gen = (i for i in range(10))
dic = {k:random.randint(2, 9) for k in range(10)}

print(s, list_gen, dic)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <generator object <genexpr> at 0x000001807485A4C0> {0: 2, 1: 9, 2: 7, 3: 7, 4: 6, 5: 3, 6: 7, 7: 3, 8: 8, 9: 4}

# 正则

In [25]:
# 使用正则获取字符串a = "not 404 found 张三 99 深圳"中的"张三  深圳"
import re

a = "not 404 found 张三 99 深圳"
result = re.findall(r'.*?([\u4E00-\u9FA5]+).*?', a)
result

['张三', '深圳']

In [15]:
# s="info:xiaoZhang 33 shandong",用正则切分字符串输出['info', 'xiaoZhang', '33', 'shandong']
import re

s="info:xiaoZhang 33 shandong"
result = re.split(r':| ', s)
result

['info', 'xiaoZhang', '33', 'shandong']

In [48]:
# a="张明 98分"，用re.sub，将98替换为100
import re

a = "张明 98分"
result = re.sub('\d+', '100', a)
result

'张明 100分'

In [53]:
# a="hello"和b="你好"编码成bytes类型
a = b'hello'
b = '你好'.encode()
print(type(a), type(b))

<class 'bytes'> <class 'bytes'>

# 函数对象

In [4]:
# 使用装饰器函数打印函数的执行时间
import time

def get_time(fun):
    
    def wrap(*args,**kwargs):
        start_time = time.time()
        result = fun(*args, **kwargs)
        end_time = time.time()
        print(end_time - start_time)
        return result 
    
    return wrap

# 测试
@get_time
def fast(x, y):
    time.sleep(1)
    return x + y

@get_time
def slow(x, y, z):
    time.sleep(2)
    return x * y * z

fast(11, 22)
slow(11, 22, 33)

1.0008385181427002
2.000880718231201

7986

In [8]:
# filter方法求出列表所有奇数并构造新列表，a =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(lambda x:x%2 != 0, a)
list(result)

[1, 3, 5, 7, 9]

In [47]:
# [[1,2],[3,4],[5,6]]一行代码展开该列表，得出[1,2,3,4,5,6]
s = [[1,2],[3,4],[5,6]]
[x for i in s for x in i ]

[1, 2, 3, 4, 5, 6]

# sql

In [37]:
# 数据表student有id,name,score,city字段，其中name中的名字可有重复，需要消除重复行
sql = 'select distinct name from student'  # distinct 去除重复，可以和聚合函数搭配使用